[submodule "Dependencies/glfw/glfw"]
	path = Dependencies/glfw/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Dependencies/Unity/Unity"]
	path = Dependencies/Unity/Unity
	url = https://github.com/ThrowTheSwitch/Unity.git
[submodule "Dependencies/freetype/freetype"]
	path = Dependencies/freetype/freetype
	url = https://github.com/freetype/freetype.git
[submodule "Dependencies/cimgui/cimgui"]
	path = Dependencies/cimgui/cimgui
	url = https://github.com/cimgui/cimgui.git
